[Desktop Entry]
Version=0.0.3
Type=Application
Encoding=UTF-8
Name=Guzuta
Comment=Guzuta is an easy to use, user friendly and yet powerful Gtk interface to the package manager program pacman.
GenericName=Packages manager
TryExec=gksu guzuta
Exec=gksu guzuta
Icon=/usr/share/guzuta/guzuta_icon_transparent.png
Terminal=false
Categories=Application;System Tools;
